h1{
	font-size: 20px;
	font-family: arial;
}


table, th , td{
	border: 10px solid black;
	border-collapse: collapse;
    margin-top: 150px;
    margin-bottom: 80px;
}
th{
    background-color: #00FFFF;
    text-align: center;

}




td {
  padding:7px;
  border:solid 7px #eee;
  background-color: #DCDCDC;
}


